/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');

/* --------- Special paddings/margins/text/effects --------- */

h1, h2, h3, h4{
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block{
    display: inline-block;    
}

.row-table{
    display: table;
}

.section-column{
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.timeline-heading,
.section-heading{
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    margin: 25px 0 40px 0;
}

.hover-orange.hvr-sink {
    transition: all 0.35s ease-in-out;
}

.hover-orange.hvr-sink:hover {
    color: #e84610;
}

/* --------- Heading --------- */

header {
    margin: 0;
    
}

.header-container {
    padding: 0;
}


.logo {
    background: url("../images/Photo_of_me_jan2019.jpg");
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;
    transition: all .5s ease-in-out;
}

.bg-color-name-title {
    background-image: linear-gradient(45deg, #1733b8eb 25%, #8f8f8f 75%);
}

.heading {
    margin-left: 50px;
    height: 240px;
    margin-right: 30px;
}

.name {
    font-family: 'Exo', sans-serif;
    font-weight: 200;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
    
    
}

.ui-menu-color-home{
    background-color: #8f8f8f;
}

.ui-menu-color-resume{
    background-color: #1733b8eb;
}

.ui-menu-color-contact{
    background-color: #8f8f8f;
}

.ui-menu-color-download{
    background-color: #1733b8eb;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

.menu-container{
    font-size: 0;
}

#nav{
    margin: 0;
}

#nav li{
    padding: 0;
}

.menu-item{
    height: 90px;
    text-align: center;
    padding: 0;
}


.menu-item a{
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 90px;
}

.menu-item a i{
    padding-top: 16px;
    display: block; /* i element is inline by default */
    font-size: 26px;

}

.menu-item span{
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 2px;
}

/* --------- Three Reasons --------- */

.bg-color-three-reasons{
    background-color: #fff;
}

.three-reasons-icon{
    font-size: 26px;
    color: #1733b8eb;
}

.three-reasons-heading{
    margin-bottom: 15px;
}

/* --------- Personal info --------- */

.bg-color-personal-info{
    background-color: #8f8f8f;
}

.color-personal-info{
    color: #fafafa;
}

.personal-info-item{
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value{
    padding-right: 8px;
    display: inline-block
}

.personal-info-item .key p,
.personal-info-item .value p{
    margin: 0;
}

.personal-info-item .key{
    width: 30%;
    vertical-align: top;
    margin-right: 10px;
    padding-top: 2px;
}

.personal-info-item .key p{
    font-weight: 700;
}

.personal-info-item .value{
    width: 60%;
    position: relative;
}

/* --------- Progress bars --------- */

.progress{
    position: relative;
    height: 25px;
    margin-bottom: 4px;
    line-height: 25px;
    background-color: #6c757d66;
}

.progress-type{
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 10px 2px 10px;
    color: #fafafa;
    background-color: rgba(50, 50, 50, 0.2);
}

.progress-section{
    margin: 40px 20px;
}

.hvr-sweep-to-right:before{
    background: rgba(0,0,0,.25);
}

/* --------- Timeline --------- */

.timeline-heading{
    margin-bottom: 50px;
}

.timeline-items{
    margin-bottom: 30px;
}

.timeline-item{
    padding: 4em 2em 0 2em;
    position: relative;
    border-left: 2px solid;
}

.timeline-item h4{
    font-size: 1rem;
}

.timeline-item p{
    padding: 0;
    margin: 0;
    font-size: 0.8em;
}



/* Pseudo-element will appear AFTER elements with .timeline-item class 
and it's content will be the value of the element's 'data-dates' attribute */
.timeline-item::before{
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

/* Pseudo-element will appear AFTER elements with .timeline-item class 
and it's content will be a small circle to decorate the timeline */
.timeline-item::after{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 2.4em;
    left: -6px; /* move circle onto left border of element */
    content: '';
    background-color: #fafafa;
}

/* --------- Footer --------- */

footer{
    background-color: #1733b8eb;
    color: #fafafa;
    min-height: 120px;
    font-size: 14px;
    
}

.footer-link, .footer-link:hover{
    color: #fafafa;
    text-decoration: none;
    font-family: inherit;
    
}

.footer-link span{
    color: #fafafa;
}

.footer-icon{
    font-size: 20px;
    text-align: center;
    padding-left: 5px;
    
    
}

.social-links{
    padding-bottom: 15px;
}

.social-links a{
    padding-right: 5px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    text-align: center;
    background: #8f8f8f;
    line-height: 7px;
}

#footer-details{
    padding: 20px;
}

/* --------- Media queries --------- */

@media only screen and (max-width: 767px) {
    .heading {
        height: 200px;
    }

    footer{
        min-height: 70px;
    }
}

@media only screen and (max-width: 575px) {
    .name {
        font-size: 36px;
    }

    .title {
        font-size: 20px;
    }

    .menu-item span {
        font-size: 12px;
        letter-spacing: 2px;
        padding-top: 3px;
    }

    .menu-item a i{
        font-size: 20px;
        padding-top: 14px;
    }

    .menu-item{
        height: 70px;
    }

    footer h5{
        font-size: 16px 
    }

    footer p{
        font-size: 12px 
    }

    .footer-link span{
        font-size: 10px;
    }

    .footer-link i{
        font-size: 12px;
    }
}
